nav {
  display: block;
  padding: 10px 0 0 10px;
  background-color: #232f3e;
  color: white;
  font-size: 20px;
}

h1, h3 {
  margin: 0;
}

#loaded-breeds {
  display: block;
  padding: 15px 0 10px 10px;
  background-color: #232f3e;
  color: white;
  font-size: 20px;
}

body {
  background-color: #F0F0F0;
}

.silhouettes {
  padding: 5px 0 0 0;
  width: 300px;
  height: auto;
  display: inline-block;
}

#dog-image img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

/* #dog-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 2em;
  grid-gap: .5em;
} */

.container {
  position: relative;
  width: 50%;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#dog-stats {
  margin: 10px 0 0 10px;
}

.hidden {
  display: none;
}

.fa-heart:hover {
  color: red;
}
